<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horário</p>
<p>
  <strong>Cliente:</strong> {{name}} <br>
  <strong>Data/Hora:</strong> {{date}} <br>
  <small>O horário eta novamente disponível para novos agendamentos.</small>
</p>